<button (click)="sendMessage()"> Invia un messaggio! </button>
<iframe
id="myiFrame"
src="http://localhost:4200/"
style="border: 0px #ffffff none"
name="myiFrame"
scrolling="no"
frameborder="1"
marginheight="0px"
marginwidth="0px"
height="700px"
width="400px"
allowfullscreen
></iframe>

<iframe
id="myiFrame"
src="http://localhost:4200/"
style="border: 0px #ffffff none"
name="myiFrame2"
scrolling="no"
frameborder="1"
marginheight="0px"
marginwidth="0px"
height="700px"
width="400px"
allowfullscreen
></iframe>